@font-face {
  font-family: 'New York';
  src: url('/src/assets/fonts/NewYork.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #050020;

}
.card{
  border : 1px solid rgb(161, 161, 161);
  border-radius : 10px;
  padding : 10px;
  max-width: fit-content;
  font-family: 'arial';
  color: rgb(1, 27, 155);
}

.cardDescription{
  font-size: 14px;
  color: rgb(161, 161, 161);
}

nav {
  overflow: hidden;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(161, 161, 161);
}

nav img {
  float: left;
  width: 60px;
  height: 60px;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

header{
  color: rgb(205, 205, 205);
  font-family: 'New York';
  padding: 10px;
}

header p{
  font-weight: bold;
}