@font-face {
  font-family: 'New York';
  src: url('/src/assets/fonts/NewYork.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  /* background-color: #050020; */
  background: linear-gradient(90deg, rgba(0, 48, 136, 0.8) -60%, rgba(5, 0, 32, 0.8) 100%), /* Horizontal gradient */
              linear-gradient(0deg, rgba(255, 192, 203, 0.8) -10%, rgba(5, 0, 32, 0.8) 100%); /* Vertical gradient */
  background-blend-mode: screen;
}

p {
  font-family: 'New York';
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}
.card{
  position: relative;
  border : 3px solid rgb(161, 161, 161);
  border-radius : 10px;
  width: 500px; 
  height: 300px;
  overflow: hidden;
  font-family: 'arial';
  color: rgb(1, 27, 155);
}

.cardDescription{
  font-size: 14px;
  color: rgb(201, 193, 193);
  font-family: 'arial';
}

.cardImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.card:hover .cardImg {
  filter: blur(5px); /* Blur the image on hover */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease; 
  z-index: 2;
}

.card:hover .overlay {
  opacity: 1; 
}

.cardTitle, .cardDescription {
  margin: 0;
  padding: 10px;
  z-index: 3; /* Ensure the text is on top of the overlay */
}

nav {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(161, 161, 161);
}

nav img {
  position: relative;
  left: 10px;
  width: 70px;
  height: 70px;
  margin-left: 40px;
}

nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  border: 1px solid transparent;
  border-radius: 40%;
  margin-left: 80px;
  width: 90px;
}

nav a:first-child {
  margin-left: 10px; 
}

nav a:hover {
  background-color: rgba(1, 69, 170, 0.8);
  color: #f2f2f2;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

header{
  color: white;
  font-family: 'New York';
  padding: 10px;
}

header p{
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 50%;
}
#skills{
  margin-top: 90px;
}
#projects{
  margin-top: 90px;
}
.contact-title{
  margin-top: 90px;
}

.Contact{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(255, 252, 252);
  font-family: calibri;
}

.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid transparent; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.circle {
  position: absolute;
  width: 65px;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%; 
  font-size: 12px;
  text-align: center;
  border : 1px solid rgb(161, 161, 161);
  border-radius: 40%;
}

.circle:nth-child(1) { transform: translate(0px, -140px); }    /*C*/
.circle:nth-child(2) { transform: translate(140px, -70px); }   /*javaScript*/
.circle:nth-child(3) { transform: translate(140px, 10px); }    /*React*/
.circle:nth-child(4) { transform: translate(120px, 90px); }    /*git*/
.circle:nth-child(5) { transform: translate(1px, 110px); }     /*flask*/ 
.circle:nth-child(6) { transform: translate(-120px, 90px); }  /*java*/
.circle:nth-child(7) { transform: translate(-140px, 10px); }   /*vue.js*/
.circle:nth-child(8) { transform: translate(-140px, -70px); }  /*python*/
.circle:nth-child(9) { transform: translate(90px, -140px); }   /*mongo*/
.circle:nth-child(10) { transform: translate(-90px, -140px); } /*docker*/
.circle:nth-child(11) { transform: translate(55px, 50px); }    /*github*/
.circle:nth-child(12) { transform: translate(-55px, 50px); }   /*postgresql*/
.circle:nth-child(13) { transform: translate(50px, -70px); }   /*TDD*/
.circle:nth-child(14) { transform: translate(-50px, -70px); }  /*CI/CD*/
.circle:nth-child(15) { transform: translate(0px, -9px); }       /*jira*/


.circle-soft {
  position: absolute;
  width: 85px;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%; 
  font-size: 12px;
  text-align: center;
  border : 1px solid rgb(161, 161, 161);
  border-radius: 40%;
}
.circle-soft:nth-child(1) { transform: translate(0px, -110px); }     
.circle-soft:nth-child(2) { transform: translate(120px, -70px); }  
.circle-soft:nth-child(3) { transform: translate(140px, 10px); }      
.circle-soft:nth-child(4) { transform: translate(120px, 90px); }  
.circle-soft:nth-child(5) { transform: translate(1px, 110px); }      
.circle-soft:nth-child(6) { transform: translate(-110px, 100px); } 
.circle-soft:nth-child(7) { transform: translate(-140px, 10px); }     
.circle-soft:nth-child(8) { transform: translate(-120px, -70px); } 
.circle-soft:nth-child(9) { transform: translate(0px, 0px); } 



.circle-container :hover{
  background-color: #1f1363;
    color: #f2f2f2;
}